In [45]:
import numpy as np
from sklearn.cluster import KMeans
import pandas as pd

In [46]:
data = pd.read_csv('/Users/tylerklimas/MATH238/big5Cluster.csv')

In [49]:
#data = data.drop(columns=["Profits (millionn)"])
data.head()

,School,"BIG FIVE GROUPING: ACC = 0, Big Ten = 1, Big 12 = 2, Pac 12 = 3, SEC = 4"
0,Alabama,4
1,Arizona,3
2,Arizona State,3
3,Arkansas,4
4,Auburn,4

In [50]:
#data = data.drop(columns=(["Profits (million)", "Ranking", "Football spending", "ACT Score"]))

In [51]:
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [53]:
#data.plot(kind='scatter', x='Longitude',y='Latitude',color = 'Green',label ='f')

In [54]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()
 
data_scaled = pd.DataFrame(data.drop(columns=["School"]))
data_scaled_new = std_scaler.fit_transform(data_scaled.to_numpy())
 
print("Scaled Dataset Using StandardScaler")
data_scaled_new = pd.DataFrame(data_scaled_new, columns=data.drop(columns=["School"]).columns)
                               
  #"Longitude", "Latitude", "Number of wins (2019-2020)", "Football spending", "Instagram Followers"])
data_scaled_new.head()
    
#df_scaled = std_scaler.fit_transform(data.to_numpy())
#df_scaled = pd.DataFrame(df_scaled, columns=[
#  'Football spending'])

Scaled Dataset Using StandardScaler

   BIG FIVE GROUPING: ACC = 0, Big Ten = 1, Big 12 = 2, Pac 12 = 3, SEC = 4
0                                           1.383605
1                                           0.702446
2                                           0.702446
3                                           1.383605
4                                           1.383605

In [55]:
data.update(data_scaled_new)

In [56]:
kmeans = KMeans(n_clusters=5, random_state=0).fit(data.drop(columns=["School"]))

In [57]:
data['label'] = kmeans.labels_.tolist()

groups = data.groupby('label')

plt.figure(figsize=(10,8))

for name, group in groups:
    plt.plot(group.Longitude, group.Latitude, marker='o', linestyle='', ms=5, label=name)

AttributeError: 'DataFrame' object has no attribute 'Longitude'